@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
/*
    Filename: landingpage_style.css
    Author: Gabriel Beltran - OtakuWeebster
    Date: 6/21/2022
*/

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body
{
    color: black;
    background-color:  white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.container
{
    font-family: 'Montserrat', sans-serif;
}

.container #emp
{
    font-weight: bolder;
}

/*FOR SCROLLBAR STYLE*/
body::-webkit-scrollbar
{
    width: 0.25rem;
}

body::-webkit-scrollbar-track
{
    background: #181818;
}

body::-webkit-scrollbar-thumb
{
    background: #e1950f;
}

/*#######################################*/

h2
{
    text-align: center;
}

main
{
    margin-left: 5rem;
    height: 100%
}

main img
{
    width: 100%;
}

h1#intro
{
    font-size: 80px;
}

/*large screen */
@media only screen and (max-width: 766px)
{
    h1#intro
    {
        font-size: 32px;
    }

    h2#sub-int
    {
        font-size: 18px;
    }
}
