@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

/*
    Filename: navbar_style.css
    Author: Gabriel Beltran
    Date: 6/22/2022
    Purpose:

*/

img
{
    width: 90%;
    transition: width 500ms ease;
}

.navbar
{
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #e3e5eb;
    font-family: 'Metropolis', sans-serif;
    transition: width 500ms ease;
}

.navbar-nav
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:  column;
    align-items: center;
}

.nav-item
{
    width: 100%;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #525460;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7) ;
    transition: 500ms ease;
    font-weight: bolder;
}

.link-text
{
    display: none;
}

.nav-link svg
{
    min-width: 2rem;
    margin: 0 1.5rem;
}



/*TRANSTIONAL STYLES*/
svg
{
    fill: #525460;
}


.nav-link-logo {
    display: flex;
    align-items: center;
    height: 5rem;
    color: whitesmoke;
    text-decoration: none;
    filter: grayscale(100%) opacity(1.0) ;
    transition: 500ms ease;
    padding: 5px;
}


/*SMALL SCREENS*/
@media only screen and (max-width: 600px)
{
    .navbar:hover img
    {
        width: 90%;
        transition: width 200ms ease;
    }

    .nav-link
    {
        background-color: #F6F6F6;
        color: #dddddd;
        border-radius: 20px;
        margin-top: 10px;
    }



}

/*large screen */
@media only screen and (min-width: 600px)
{
    .nav-item:last-of-type
    {
        bottom: 0;
        position: absolute;
    }

    .navbar
    {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .nav-item:last-of-type
    {

    }

    .navbar:hover
    {
        width: 12rem;
    }

    .navbar:hover .link-text
    {
        display: inline;
        transition: opacity 500ms ease;
    }

    .navbar:hover img
    {
        margin-top: 20px;
        width: 60%;
        transition: width 500ms ease;
    }
    /*WITH NAVLINK LOGO*/
    .nav-link-logo:hover
    {
        color: #525460;
        padding-bottom: 5px;
    }

    .nav-link:hover
    {
        background-color: #F6F6F6;
        color: #525460;
        border-radius: 20px;
        margin: 10px;
    }


}




